Source: farsight2
Priority: optional
Section: libs
Maintainer: Debian Telepathy maintainers <pkg-telepathy-maintainers@lists.alioth.debian.org>
Uploaders: Dafydd Harries <daf@debian.org>,
           Simon McVittie <smcv@debian.org>,
           Sjoerd Simons <sjoerd@debian.org>,
           Laurent Bigonville <bigon@debian.org>,
           Jonny Lamb <jonny@debian.org>
Build-Depends: debhelper (>= 5.0.0),
               cdbs,
               libglib2.0-dev (>= 2.14),
               libgstreamer0.10-dev (>= 0.10.17),
               libgstreamer-plugins-base0.10-dev (>= 0.10.17),
               python-central (>= 0.5),
               python-gtk2-dev,
               python-gst0.10,
               libnice-dev
Standards-Version: 3.8.0
Vcs-Git: git://git.debian.org/git/pkg-telepathy/farsight2.git
Vcs-Browser: http://git.debian.org/?p=pkg-telepathy/farsight2.git
Homepage: http://farsight.freedesktop.org
XS-Dm-Upload-Allowed: yes

Package: libgstfarsight0.10-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         gstreamer0.10-plugins-base (>= 0.10.17),
         gstreamer0.10-plugins-good (>= 0.10.8),
         gstreamer0.10-plugins-bad (>= 0.10.7),
         gstreamer0.10-plugins-farsight (>= 0.12.9),
         gstreamer0.10-nice
Description: Audio/Video communications framework: core library
 The Farsight project is an effort to create a framework to deal with all
 known audio/video conferencing protocols. On one side it offers a generic
 API that makes it possible to write plugins for different streaming
 protocols, on the other side it offers an API for clients to use those
 plugins.
 .
 This package provides the core Farsight 2 library.

Package: libgstfarsight0.10-dev
Section: libdevel
Architecture: any
Depends: libgstfarsight0.10-0 (= ${binary:Version}), libgstreamer0.10-dev
Description: Audio/Video communications framework: development files
 The Farsight project is an effort to create a framework to deal with all
 known audio/video conferencing protocols. On one side it offers a generic
 API that makes it possible to write plugins for different streaming
 protocols, on the other side it offers an API for clients to use those
 plugins.
 .
 This package provides development files for Farsight 2.

Package: libgstfarsight0.10-doc
Section: doc
Architecture: all
Description: Audio/Video communications framework: documentation
 The Farsight project is an effort to create a framework to deal with all
 known audio/video conferencing protocols. On one side it offers a generic
 API that makes it possible to write plugins for different streaming
 protocols, on the other side it offers an API for clients to use those
 plugins.
 .
 This package provides documentation for Farsight 2.

Package: libgstfarsight0.10-dbg
Section: libdevel
Priority: extra
Architecture: any
Depends: libgstfarsight0.10-0 (= ${binary:Version}), libgstreamer0.10-dev
Description: Audio/Video communications framework: debugging symbols
 The Farsight project is an effort to create a framework to deal with all
 known audio/video conferencing protocols. On one side it offers a generic
 API that makes it possible to write plugins for different streaming
 protocols, on the other side it offers an API for clients to use those
 plugins.
 .
 This package provides debugging symbols for Farsight 2.

Package: python-farsight
Section: python
XS-Python-Version: >= 2.4
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-gst0.10
Description: Audio/Video communications framework: Python bindings
 The Farsight project is an effort to create a framework to deal with all
 known audio/video conferencing protocols. On one side it offers a generic
 API that makes it possible to write plugins for different streaming
 protocols, on the other side it offers an API for clients to use those
 plugins.
 .
 This package provides Python bindings for Farsight 2.
